/*font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

.top-nav-collapse {
    background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
    background: rgb(1, 28, 55, 0.3);
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #78909c !important;
    }
}

#background {
background-image: url(../css/assets/images/viastren.jpg);
}

.fontButtom {
    color: #fdfef9;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    color: #fdfef9;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 8px;
    padding: 3%;
}

#proyectos,
#contacto {
    color: #575757;
    font-family: 'Nunito Sans', sans-serif;
}

h4 {
    color: #fdfef9;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 3px;
}

h5 {
    color: #fdfef9;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.hability {
    color: #fdfef9;
    font-family: 'Nunito', sans-serif;
    margin-left: 15%;
}

a > h5:hover {
    color:#0d0300;
    font-family: 'Nunito', sans-serif;
}

h6 {
    color: #575757;
    font-family: 'Nunito', sans-serif;
}

.habContainer {
    background: #78909c;
    margin: auto;
    width: 30%;
}

.hr-light {
    border-top: 3px solid #fdfef9;
    width: 80px;
}

p {
    text-align: justify;
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 600px;
    }
}

body {
    background: #fdfef9;
}

.jarallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerName {
    background: rgb(13, 3, 0, 0.3);
    padding: 2em;
}

.contacto {
    background: #fdfef9;
    height: 600px;
}

.proyectos{
    background: #fdfef9;
    height: 680px;
}

.herramientas {
    background: #354457;
    height: 670px;
}

footer {
    background: #354457;
}

.link {
    padding-top: 2em;
}

i {
  padding: 10%;
}

i.icon, .iconHab {
    color: white;
}
.icon:hover {
    color:#0d0300;
    text-align:center; 
}

.fa-whatsapp, .fa-linkedin, .fa-envelope, .fa-github {
    border-radius: 50%;
    background:#354457;
    padding-top: .6em;
    height: 2em;
    width: 2em;
}

.fa-whatsapp:hover{
	background: #0d0300;
}
.fa-linkedin:hover{
	background: #0d0300;
}
.fa-github:hover{
	background: #0d0300;
}

.fa-envelope:hover{
	background: #0d0300;
}

.habilidades {
    width: 100%;
}

.iconCom {
    margin-top: 20%; 
}

.iconHab {
    padding: 2%;
}

.iconHab:hover {
    color:#0d0300;
}



